@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* This file is for your main application CSS */
 
body {
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

h1, h2, h3 {
  color: azure;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

strong {
  color: crimson;
}

#skull {
  animation: spin 2s linear infinite; /* Animation for spinning */
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Style the button */
#skullButton {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
